@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    

<div id="div-1">
    <div id="div-1a">
    </div>
    <div id="div-1b">
    </div>
    <div id="div-1c">
    </div>
</div>
