@model SportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "ProductList";
}

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Product", new { category = Model.CurrentCategory, page = x }))
</div>
